.card {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  body, html{
    height:100%;
    padding:0;
    margin:0;
}

  .backimg{
    background-image: url('/assets/background.jpg') !important;
    height: 100%;
    width: 100%;
  }